<!doctype html>
<title>User Manager for Pentaho</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>User Manager for Pentaho</h1>
  <div class=metanav>
  {% if current_user.is_authenticated() %}
    Welcome, {{ current_user.fullname }} | <a href="{{ url_for('logout') }}">log out</a>
  {% else %}
    You are not logged in | <a href="{{ url_for('login') }}">log in</a>
  {% endif %}
  </div>
  {% if not request.path == "/" %}
  <a href="{{ url_for('index') }}">Home</a>
  {% endif %}
  {% if g.breadcrumb %}
   &gt;&gt; <a href="{{ url_for(g.breadcrumb) }}">{{ g.breadcrumb }}</a>
  <br/></br/>
  {% endif %}
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
